html {
        font-family: ubuntu, verdana;
        color: black;
        background-color: white;
}

table {
        border: 1px solid black;
}

td {
        background-color: #DDD;
        border: 1px solid #888;
}

th {
        border: 1px solid black;
        background-color: #DFD;
}

td.pass {
        background-color: #DFD;
}

td.fail {
        background-color: #FDD;
}

td.pass.ran {
        background-color: #8F8;
}

td.fail.ran {
        background-color: #F88;
}
